:root {
  --mdc-theme-primary: #7B1FA2;
  --mdc-theme-secondary: #FF5722;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: left;
}

h2 {
  font-size: 1.2rem;
  margin: 0.5;
}

.dashboard-section {
  margin: 0.2rem 0;
  display: flex;
  flex-direction: column
}

/* .dashboard-item {
  display: flex; flex-direction: row; margin-bottom: 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0;
  padding: 6px;
  display: inline-block;
  text-align: left;
} */

.dashboard-item {
  cursor: pointer;
}

.dashboard-item > div {
  white-space: pre-line;
  margin: 6px;
}

.dashboard-item span {
  display: inline;
}

.dashboard-item-details {
  font-size: 0.8em;
}

.deliberation-section {
  border-top: 1px solid rgb(212, 212, 212);
  padding-top: 1rem;
  text-align: left;
  /* height: 400px; */
}

/* .white-container {
  background-color: white;
  padding: 25px;
  min-height: 70vh;
  min-width: 68%;
  width: 100% !important;
  border-radius: 20px;
}

.converge-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
} */

.converge-container {
  margin: 0;
  width: 100%;
}

body {
  background-color: #e6ecf8;
  color: #525252;
}

.add-button {
  height: 28px;
  position: relative;
  top: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-container {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.star-slider {
  width: 340px;
  height: 44px;
}

.outlined-item {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex; 
  flex: 1;
  min-height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.criterion {
  display: flex; 
  flex: 1;
  min-height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* max-width: 600px; */
}

.criterion-outer {
  border: 1px solid gray;
  border-radius: 5px;

  margin: 6px 6px 6px 0px;
  box-shadow: 0px 0px 6px #00000019;
  border: 1px solid #efefef;
  border-radius: 12px;
  transition: all 0s ease;
  vertical-align: top;
  padding: 4px 8px;
  /* display: inline-block;
  width: 100%;
  width: calc(50% - 9px); */
}

.list-item-mini {
  height: 100px;
  cursor: pointer;
}

.two-sides {
  padding: 10px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.vertical-progress-bar-container {
  width: 24px;
  height: 100%;
  /* background-color: #f0f0f0;*/
  /* border: 1px solid #8b8989; */
  /* border-bottom: 1px solid #8b8989;
  border-radius: 0 0 3px 0; */
  border: 1px solid #e8e7e7;
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.vertical-progress {
  background-color: #007bff; /* Set the progress color */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.progress-line {
  width: 100%;
  height: 1px; /* Set the height of each line */
  background-color: #ff00ee; /* Set the progress color */
  margin-top: 2px; /* Add a top margin */
}

.overflow-content::after {
  content: "";
  position: absolute;
  /* bottom: 0; */
  /* left: 0; */
  width: 100%;
  height: 56px;
  /* border-radius: 26px; */
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.805));
}

/* mwc-slider {
  --mdc-theme-primary: red;
} */
/* 
mwc-slider[disabled] .mdc-slider__thumb {
  display: none;
}

mwc-slider[disabled] .mdc-slider__thumb-knob {
  display: none;
} */

.close-button {
  position: fixed;
  /* float: right; */
  /* right: -9px; */
  top: 10px;
  left: 10px;
  border: none;
  border-radius: 20px;
  background: rgb(243, 241, 241);
  padding: px;
  padding: 6px 9px;
  z-index: 99999999;
}

.red-alarm {
  background-color: black;
  color: red;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 50%;
  font-weight: bolder;
  /* width: 20px; */
  /* height: 20px; */
}

.green-alert {
  background-color: rgb(203, 203, 203);
  color: green;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 50%;
  font-weight: bolder;
  padding: 4px 7px;
  /* width: 8px;
  height: 20px; */
}

.icon {
  height: auto;
}